canvas {
    display: block;
    border: 3px solid black;
    margin-top: 10px;
}

.logo-link img {
    width: 200px;
}

#predicted-image img {
    max-width: 100%;
}

#predicted-image {
    min-height: 200px;
}

#labels-ct .weight-x .label,
#labels-ct .accu-x .label,
#labels-ct .clss-x .label {
    font-size: smaller;
}

#labels-ct .prediction .row .image-box {
    width: 100%;
    height: 100%;
    background-position: center 0.5rem;
    background-size: contain;
    background-repeat: no-repeat;
}

.info-col .tab-pane {
    padding-top: 1rem;
}

#dimmer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 999999;
}

#dimmer .dimmer-ct {
    height: 100%;
}