canvas {
    display: block;
    border: 3px solid black;
    margin-top: 10px;
}

.logo-link img {
    width: 200px;
}

#labels-ct .prediction img {
    max-width: 100px;
    max-height: 100px;
}

#predicted-image img {
    max-width: 100%;
}

#predicted-image {
    min-height: 200px;
}

#labels-ct .label-x .label,
#labels-ct .accu .label {
    font-size: smaller;
}

.info-col .tab-pane {
    padding-top: 1rem;
}

#dimmer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0.8);
    z-index: 999999;
}

#dimmer .dimmer-ct {
    height: 100%;
}